{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de dueños </h1>

    <a href="{{ path('duenio_nuevo') }}" class="btn btn-success">Nuevo dueño</a>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Mascotas</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for duenio in duenios %}
                <tr>
                    <td>{{ duenio.nombre }}</td>
                    <td>{{ duenio.apellidos }}</td>
                    <td>{{ duenio.correo }}</td>
                    <td>{{ duenio.telefono  }}</td>
                    <td>{{ duenio.direccion  }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mascotas
                            </button>
                            <ul class="dropdown-menu">
                                {% for mascota in duenio.mascota %}
                                    <li><a class="dropdown-item" href="{{ path('mascota_modificar', {'id': mascota.id}) }}">{{ mascota.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td><a href="{{ path('duenio_modificar', {'id': duenio.id}) }}" class="btn btn-info">Modificar</a></td>
                    <td><a href="{{ path('duenio_eliminar', {'id': duenio.id}) }}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="5">No hay dueños</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
