{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de citas </h1>

    <a href="{{ path('cita_nueva') }}" class="btn btn-success">Nueva cita</a>

    <table>
        <thead>
        <tr>
            <th>Cita ID</th>
            <th>Mascota</th>
            <th>Veterinario</th>
            <th>Fecha</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td>{{ cita.id }}</td>
                    <td>{{ cita.mascota.nombre }}</td>
                    <td>{{ cita.veterinario.nombre ~ " " ~ cita.veterinario.apellidos }}</td>
                    <td>{{ cita.fecha ? cita.fecha | date('d/m/Y') }}</td>
                    <td><a href="{{ path('cita_modificar', {'id': cita.id}) }}" class="btn btn-info">Modificar</a></td>
                    <td><a href="{{ path('cita_eliminar', {'id': cita.id}) }}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="5">No hay citas</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
