{% extends 'base.html.twig' %}

{% block body %}

    {% if cita.id %}
        <h1>Modificar cita</h1>
    {% else %}
        <h1>Registrar cita</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a href="{{ path('cita_listar') }}" class="btn btn-info"><i class="bi bi-box-arrow-up-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-success">Guardar cambios</button>

    {% if cita.id %}
        <a href="{{ path('cita_eliminar', {'id': cita.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar cita</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
