{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de veterinarios </h1>

    {% if is_granted('ROLE_USUARIO') %}
        <a href="{{ path('veterinario_nuevo') }}" class="btn btn-success">Nuevo veterinario</a>
    {% endif %}

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Especialidad</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for veterinario in veterinarios %}
                <tr>
                    <td>{{ veterinario.nombre }}</td>
                    <td>{{ veterinario.apellidos }}</td>
                    <td>{{ veterinario.especialidad }}</td>
                    <td>{{ veterinario.correo }}</td>
                    <td>{{ veterinario.telefono  }}</td>
                    <td>{{ veterinario.direccion  }}</td>
                    {% if is_granted('ROLE_MODERADOR') %}
                        <td><a href="{{ path('veterinario_modificar', {'id': veterinario.id}) }}" class="btn btn-info">Modificar</a></td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('veterinario_eliminar', {'id': veterinario.id}) }}" class="btn btn-danger">Eliminar</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <th colspan="5">No hay veterinarios</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
